@media (max-width: 1075px) {
  .section.flex.res{
    flex-direction: column;
    .l_area{
      width: 100% !important;
      padding: 0 !important;
      display: flex;

      img{
        width: 50% !important;
      }
    }
    .r_area{
      width: 100% !important;
    }
  }
}

ul{
  margin: 0;
  padding: 0;

  li{
    margin: 5px 0;
    font-weight: 500;
  }
}

.list_margin{
  li{
    margin: 10px 0;
  }
}

p{
  margin: 0;
}

body {
  font-family: Pretendard, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;

  .container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 10px;

    .logo{
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px;

      img{
        width: 325px;
        height: auto;
      }
    }

    .section {
      margin-bottom: 2rem;

      .section h2 {
        color: #333;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
      }

      .title{
        font-size: 30px;
        font-weight: 700;
        margin: 5px 0;
      }

      .title.bg{
        background-color: #e6f1ff;
      }

      .sub_title{
        font-size: 20px;
        font-weight: 700;
        margin: 5px 0;
      }

      .sub_title.red{
        background-color: #ff9abe;
      }

      .content{
        font-size: 16px;
        font-weight: 500;
        margin: 5px 0;
      }

      .link{
        background-color: #efefef;
        padding: 16px;
        width: auto;
        display: block;
      }

      .section p {
        margin-bottom: 1rem;
      }

      img{
        width: 100%;
        box-shadow: 0px -1px 20px 1px #cdcdcd;
      }
    }

    .section.flex {
      display: flex;

      .l_area{
        width: 50%;
      }

      .r_area{
        width: 50%;
      }
    }
  }
}
.skills_area{
  gap: 5px;

  .skill{
    padding: 5px 15px;
    border-radius: 30px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
  }

  .skill_title{
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
  }

  .skill.spring{
    background-color: #6DB33F;
  }

  .skill.mybatis{
    background-color: #F66A0A;
  }

  .skill.java{
    background-color: #5382A1;
  }

  .skill.vue{
    background-color: #42B883;
  }
  
  .skill.jquery{
    background-color: #0769AD;
  }

  .skill.mysql{
    background-color: #4479A1;
  }

  .skill.oci{
    background-color: #F80000;
  }

  .skill.docker{
    background-color: #2496ED;
  }

  .skill.nginx{
    background-color: #009639;
  }

  .skill.githubactions{
    background-color: #24292F;
  }
  
  .skill.scouter{
    background-color: #5530c1;
  }

  .skill.elasticsearch{
    background-color: #F05537;
  }
}

.develop_cause{
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;

  p{
    font-weight: 500;
  }
}